[submodule "vim/bundle/vundle"]
	path = vim/bundle/vundle
	url = http://github.com/gmarik/vundle.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/vim-scripts/vim-coffee-script.git
[submodule "vim/bundle/xml.vim"]
	path = vim/bundle/xml.vim
	url = https://github.com/vim-scripts/xml.vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/sorin-ionescu/oh-my-zsh.git
